<div class="text-center">
    <h1 class="display-4 mt-5 mb-4">
        Погодные условия
    </h1>
    <div class="menu">
        <a type="button" class="btn btn-lg col-5 m-3" asp-controller="WeatherConditions" asp-action="ViewDataArchive" style="background-color: #FF8787; color: white">
            Смотреть архив
        </a>
        <a type="button" class="btn btn-lg col-5 m-3" asp-controller="WeatherConditions" asp-action="UploadWeatherData" style="background-color: #FF8787; color: white">
            Загрузить данные
        </a>
    </div>
</div>
